/*
THIS FILE IS ORGANIZED AS FOLLOWS:

ELEMENTS

CLASSES:

  Containers (holds multiple elements inside of wrappers)
  Wrappers (holds a single element)
  Modified Elements (an html element of a specific class)

IDS:

  NOTE - LIST FILE WHERE USED IN A COMMENT

  Containers (holds multiple elements inside of wrappers)
  Wrappers (holds a single element)
  Modified Elements (an html element of a specific ID)
*/

/* ELEMENTS */

:root {
  font-family: 'Noto Sans';
  line-height: 1.5;
  font-weight: 400;


  --primary-background: #FAF8F4;
  --secondary-background: #F2F3E5;
  --color-background: rgba(184, 144, 180, 0.74);
  --bright-pop: #E9F88D;
  --dark-pop: #8A3683;
  --dark-text: #000000;
  --medium-text: #414042;
  --light-text: #979797;
  color: var(--dark-text);
  background-color: var(--primary-background);



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

@font-face {
  font-family: 'henrik';
  src: url('./assets/Henrik-Regular.otf');
}

html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 1.25vw;

}

body {
  position: relative;
  display: flex;
  place-items: center;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  color: var(--dark-text);
  font-family: 'henrik';
  font-size: 4rem;
}

h2 {
  color: var(--dark-text);
  font-family: 'henrik';
  font-size: 2rem;
}

a {
  font-weight: 500;
  color: var(--medium-text);
  text-decoration: none;
}

a:hover {
  color: var(--dark-pop);
  text-decoration: underline;
  font-weight: 800;
}

img {
  max-width: 100%;
  height: auto;
}

/* IDs */

#app-container {
  width: 97vw;
  height: 88vh;
  margin: 4rem 2rem 1rem 1rem;
}

#top-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: var(--three);
  flex-direction: row;
  margin: 2rem 0 0 1rem;
  padding: 0;
  width: 96vw;
  height: auto;
  z-index: 4;
}

#nav-link-wrapper {
  position: relative;
  width: 20vw;
  margin-right: 4vw;
  margin-top: 3rem;
}

#nav-language-toggle {
  position: absolute;
  width: 20%;
  top: 0;
  left: 75%;
  cursor: pointer;
  color: var(--light-text);
}

#site-title {
  margin-left: 1rem;
}

a#site-title:hover {
  text-decoration: none;
  color: var(--medium-text);
  font-weight: 800;
}

#site-logo {
  position: relative;
  height: 3.6rem;
  margin-top: .5rem;
}

#site-title-text {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 700;
  margin-left: .5rem;
}

#search-icon {
  height: 1.5rem;
}

#language-icon {
  height: 1.5rem;
}

#about-page-container {
  margin: 0 0 0 -2rem;
  position: relative;

  height: 66vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;

}

#about-page-background-image {

  position: absolute;
  z-index: -1;
}

#about-page-content-container {

  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -44vw;
  margin-top: -28vw;
  width: 80vw;
  height: 55vw;
  background-color: var(--primary-background);
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 4vw;
  padding-right: 4vw;

}

#about-page-text-wrapper {
  text-align: left;
  width: 50%;
  font-size: 1.25rem;
  padding-left: 3rem;
}


#about-page-headshot-image {
  position: relative;
  width: 50%;
}


#disclaimer-page-container {
  margin: 0 0 0 -2rem;
  position: relative;
  height: 43vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;

}

#disclaimer-page-header h1 {
  text-align: center;
}

#disclaimer-page-content-container {
  width: 80vw;
  font-size: 1.5rem;
}

#resources-page-container {
  margin: 0 0 0 -1rem;
  width: 99vw;
}

#resources-heading-wrapper {
  width: 100%;
  height: auto;
  margin: 0 -1rem 0 -2rem;
}

#resources-heading-wrapper h1{
  margin: -53vw 0 0 0;
  padding: 0 10vw;
  font-size: 6.4vw;
}

#resources-grid-container {
  margin: 5rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 98%;
}

#blog-grid-container {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%
}

#blog-heading-wrapper {
  width: 100vw;
}

#blog-heading-background-image {
  margin-bottom: -22rem;
}

#blog-searchbar {
  margin-top: 5rem;
}

#blog-searchbar input {
  background-color: var(--secondary-background);
  border: 1px solid black;
  border-radius: 2rem;
  height: 4rem;
  width: 80vw;
  padding-left: 3rem;
}

#blog-searchbar img {
  position: absolute;
  margin-left: -5rem;
  width: 2.3rem;
  margin-top: 1.2rem;
}

#contact-page-container {
  margin: 0 0 0 -2rem;
  width: 100vw;
  height: 90vw;
  padding-top: 5rem;
  padding-left: 7rem;
  position: relative;
  background-color: var(--color-background);

}

#contact-page-header h1 {
  color: var(--secondary-background);
  font-size: 3rem;
}

#contact-page-header p {
  font-size: 1.6rem;
  margin-top: -2rem;
}

#contact-page-header {
  color: var(--secondary-background);
  width: 55vw;
  margin-bottom: 8rem;
}

#contact-list-container {
  position: relative;
  margin-top: 5rem;
  width: 50vw;
  color: var(--secondary-background);
  font-size: 2rem;
}

#contact-list-container a {
  font-weight: 100;
  color: var(--secondary-background);
}

#contact-social-wrapper {
  margin-top: 1rem;
  width: 12vw;
}

#contact-social-wrapper img {
position: relative;
width: 1.8rem;
}

#email-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  width: 80vw;
}

#email-form-container form {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-between;
  align-items: start;
  margin-top: -5rem;
}

#blog-page-container {
  margin: 0 0 0 -1rem;
  padding: 0 10rem;
  text-align: center;
  width: 73vw;
}

#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-background);
  width: 80vw;
  margin-top: 5rem;
  font-size: 1.3rem;
}

#footer a {
  color: var(--secondary-background);
  text-decoration: none;
}

#footer a:hover {
  font-weight: 500;
  text-decoration: underline;
}

/* CLASSES */

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  justify-content: space-between;
}

.redline, .grayline {
  height: .35rem;
  width: 1.5rem;
}

.redline {
  background-color: #CA0A12;
}

.grayline {
  background-color: var(--medium-text);
}

.contact-list-category-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.contact-list-category-wrapper h3{
  font-size: 1.8rem;
  margin: 0;
}

.contact-list-category-wrapper a, .contact-list-category-wrapper p {
  text-decoration: none;
  font-size: 1.8rem;
  margin: 0;
}

.contact-list-category-wrapper a:hover {
  text-decoration: underline;
}

.email-form-field {
  color: var(--secondary-background);
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 2vw;
}

.email-form-field label {
  font-family: 'Noto Sans';
  font-size: 1.7rem;
  font-weight: 700;
}

.email-form-field input, .email-form-field select {
  border-radius: .5rem;
  border: 1px solid black;
  height: 3.5rem;
  width: 28vw;
  background-color: var(--secondary-background);
}

.email-form-field textarea {
  border-radius: .5rem;
  border: 1px solid black;
  height: 10rem;
  width: 28vw;
  background-color: var(--secondary-background);
  padding-left: 2vw;
  padding-top: 1vw;
  font-family: 'Noto Sans';
  font-size: 1.2rem;
  font-weight: 500;
}


.email-form-field input:not([type=submit]):not([type=file]){
  padding-left: 2vw;
  font-family: 'Noto Sans';
  font-size: 1.2rem;
  font-weight: 500;
}



.email-form-field select#subject {
  font-size: 1.5vw;
  text-align: left;
  padding-left: 2vw;
  margin-right: 2vw;
  font-family: 'Noto Sans';
  font-weight: 600;
  color: var(--medium-text);
}



.submit {
  margin-top: 3vw;
  background-color: var(--bright-pop);
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 1.2rem;
  height: 4.5rem;
  width: 14rem;
  border-radius: 6.5rem;
  border: none;
}

.submit:hover {
  box-shadow: .1rem 0 .5rem .1rem var(--medium-text);
}

.selected {
  font-weight: 800;
}

.title, .subtitle {


  font-family: 'Noto Sans', sans-serif;
  color: var(--dark-text);
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.subtitle {
  margin: 1rem 0;
  font-size: .8rem;
  font-weight: 700;
}

.page-description-container {
  border: .1rem solid var(--dark-text);
  border-radius: 3rem;
  background-color: var(--bright-pop);
  width: 40vw;
  padding: 2rem 7rem;
  margin: 20vw 0 0 0;
  text-align: center;
}

.page-description-container h2 {
  font-size: 3vw;
}

.page-description-container p {
  font-size: 2vw;
  margin-top: -1vw;
}

.resource-container {
  position: relative;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 2rem;
    color: #ccc;
    display: flex;
    width: 20vw;
    align-items: left;
    flex-direction: column;
    justify-content: center;
}

.resource-container:hover {
  box-shadow: .1rem 0 .5rem .1rem var(--medium-text);
}

.post-container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 10rem;
  width: 80vw;
}


.post-categories-wrapper {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.post-content-container {
  width: 85vw;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 12vw;
}

.post-date {
  font-size: 2rem;
  font-weight: 100;
  color: var(--medium-text);
}

.post-title {
  font-size: 2.5rem;
  font-weight: 500;
}

.post-text-wrapper a {
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark-pop);
}

.post-text {
  text-align: left;
  height: 22vw;
  font-size: 2rem;
  width: 45vw;
  overflow: hidden;
  white-space: normal;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: rgb(255, 255, 255);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #000000;
  }
}
