:root {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 2.5vmin;


  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

a {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: inherit;
}
a:hover {
  color: #fcf8d6;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;

}

nav {
  position: absolute;
  top: 2%;
}

h1 {
  position: relative;
  margin: 0;
  font-size: 2rem;
}

input, textarea {
  width: 25rem;
  border-radius: .5rem;
  background: rgba(255, 255, 255, 0.15);
  color: #f9f9f9;
  margin-bottom: 1rem;
}

textarea {
  height: 10rem;
}

label, .submit{
  font-size: 1.2rem;
  font-weight: 700;
}

.submit {
  font-family: 'Nunito', sans-serif;
}

.submit:hover {
  box-shadow: 0 0 1px 1px #fcf8d6;

}

form {
  display: flex;
  flex-direction: column;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.image-container img{
  margin-top: 1rem;
  width: 15rem;
  height: auto;
  border-radius: 1rem;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #f9f9f9;
    background-color: black;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
