/*
THIS FILE IS ORGANIZED AS FOLLOWS:

ELEMENTS

CLASSES:

  Containers (holds multiple elements inside of wrappers)
  Wrappers (holds a single element)
  Modified Elements (an html element of a specific class)

IDS:

  NOTE - LIST FILE WHERE USED IN A COMMENT

  Containers (holds multiple elements inside of wrappers)
  Wrappers (holds a single element)
  Modified Elements (an html element of a specific ID)
*/

/* ELEMENTS */

:root {
  font-family: 'Noto Sans';
  line-height: 1.5;
  font-weight: 400;


  --primary-background: #FAF8F4;
  --secondary-background: #F2F3E5;
  --bright-pop: #E9F88D;
  --dark-pop: #8A3683;
  --dark-text: #000000;
  --light-text: #414042;
  color: var(--dark-text);
  background-color: var(--primary-background);



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

@font-face {
  font-family: 'henrik';
  src: url('./assets/Henrik-Regular.otf');
}

html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 1.75vmin;
}

body {
  position: relative;
  display: flex;
  place-items: center;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  color: var(--dark-text);
  font-family: 'henrik';
  font-size: 4rem;
}

h2 {
  color: var(--dark-text);
  font-family: 'henrik';
  font-size: 2rem;
}

a {
  font-weight: 500;
  color: var(--light-text);
  text-decoration: none;
}

a:hover {
  color: var(--dark-pop);
  text-decoration: underline;
  font-weight: 800;
}

img {
  max-width: 100%;
  height: auto;
}

/* IDs */

#app-container {
  width: 97vw;
  height: 88vh;
  margin: 4rem 2rem 1rem 1rem;
}

#top-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  background-color: var(--three);
  top: 7%;
  left: 15%;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 80vw;
  height: auto;
  z-index: 4;
}

#nav-link-wrapper {
  position: absolute;
  width: 50%;
  top: 100%;
  left: 45%;
}

#nav-language-toggle {
  position: absolute;
  width: 20%;
  top: 0;
  left: 75%;
}

#site-title {
  margin-left: -5vw;
}

a#site-title:hover {
  text-decoration: none;
  color: var(--light-text);
  font-weight: 800;
}

#site-logo {
  position: relative;
  height: 3.6rem;
}

#site-title-text {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 700;
  margin-left: .5rem;
}

#search-icon {
  height: 1.5rem;
}

#language-icon {
  height: 1.5rem;
}

#about-page-container {
  margin: 10rem 0 0 0;
  padding: 0 10rem;
  position: absolute;
}

#resources-page-container {
  margin: 8rem 0 0 -1rem;
  width: 98vw;

}

#resources-heading-wrapper {
  width: 100%;
  height: auto;
  margin: 0 -1rem 0 -2rem;
}

#resources-heading-wrapper h1{
  margin: -50vw 0 0 0;
  font-size: 8vw;
}

#resources-grid-container {
  margin: 5rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 98%;
}

#contact-page-container {
  margin: 10rem 0 0 0;
  width: 95vw;
  padding: 0;
  position: relative;
}

#contact-list-container {
  margin: 3rem 0 0 0;
}

#email-form {
  margin: 10rem 0 0 0
}

#blog-page-container {
  margin: 10rem 0 0 0;
  padding: 0 10rem;
  text-align: center;
}

/* CLASSES */

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  justify-content: space-between;
}

.redline, .grayline {
  height: .35rem;
  width: 1.5rem;
}

.redline {
  background-color: #CA0A12;
}

.grayline {
  background-color: var(--light-text);
}

.contact-link {
  position: relative;
    font-size: 1.5rem;
    border: solid 1px rgba(50, 50, 50, 0.5);
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0 2rem 0 0;
    cursor: pointer;
    width: fit-content;
    z-index: 2;
}

.contact-link:hover {
  box-shadow: 0 0 1px 1px #200;
}

.selected {
  font-weight: 800;
}

.title, .subtitle {


  font-family: 'Noto Sans', sans-serif;
  color: var(--dark-text);
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.subtitle {
  margin: 1rem 0;
  font-size: .8rem;
  font-weight: 700;
}

.page-description-container {
  border: .1rem solid var(--dark-text);
  border-radius: 3rem;
  background-color: var(--bright-pop);
  width: 40vw;
  padding: 2rem 7rem;
  margin: 20vw 0 0 0;
  text-align: center;
}

.page-description-container h2 {
  font-size: 3vw;
}

.page-description-container p {
  font-size: 2vw;
  margin-top: -1vw;
}

.resource-container {
  position: relative;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 2rem;
    color: #ccc;
    display: flex;
    width: 20vw;
    align-items: left;
    flex-direction: column;
    justify-content: center;
}

.resource-container:hover {
  box-shadow: .1rem 0 .5rem .1rem var(--light-text);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: rgb(255, 255, 255);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #000000;
  }
}
